body{
    font-family: sans-serif;
    margin: auto;
    
}

#page-logo a{
    padding: 30px;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(211, 228, 113);
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(35, 36, 33);
}
main{
    height: 800px;
    background-image: url(fcc.jpeg);
    background-position: center;
    background-size: cover;
}
#hero{
    width: 900px;
    background-color: rgb(51, 47, 47, 0.8);
    padding: 75px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 250px;
}
#hero h1{
    color: aliceblue;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
}
#hero p{
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 30;
    margin-bottom: 40px;
    
}
#hero a{
    background-color: rgb(255, 251, 0);
    font-size: 25px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 2px;
}
#hero a:hover{
    background-color: rgb(6, 231, 231);
}
header a{
    color: rgb(215, 241, 17);
    font-size: larger;
    text-shadow: 1px 1px 1px black;
    padding: 12px;
    top: 0px;
    left: 0px;
    border-radius: 6px;
}
header a:hover{
    color: rgb(216, 243, 14);
    background-color: rgb(51, 47, 47, 0.8);
}
#Destination{
    list-style: none;
    height: 200px;
    padding: 10px;
    position: absolute;
    top: 900px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}  
.Destination img{
    height: 200px;
    box-shadow: 2px 4px 8px rgb(58, 57, 57);
    border-radius: 10px;
    object-fit: fill;
}
.Destination{
    margin: 0 20px;  
}
.Destination a{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px 0;
    color: black;
}
h2{
    position: absolute;
    top: 820px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(58, 58, 57);
    left: 0;
    font-size: 40px;
    width: 100%;   
}
